

.character {
background-color: #ffffff;
font-size: 1em;
font-weight: bold;
margin: 1em;
}
#alphabet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#playArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.alpha-btn {
    background: firebrick;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}

.alpha-btn:disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: 0.3rem groove firebrick;
}

#gallows {
    min-width: 95%;
    max-width: 95%;
    min-height: 300px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1rem groove;
    margin: 0.5rem;
    border: firebrick dashed 2px;
    background-color: black;
}  

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.menubtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.2rem;
}