

.character {
background-color: whitesmoke;
font-size: 1em;
margin: 1em;
}
#alphabet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#playArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.alpha-btn {
    background: firebrick
}

.alpha-btn:disabled {
    background-color: black;
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: 0.3rem groove firebrick;
}

#gallows {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1rem groove;
    margin: 1rem;
    border: darkblue dashed 2px;
}  

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.menubtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}